#Quote{
    height: 30rem;
    width: 100%;
    background-image: url(../../public/testimonials-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(0,0,0,.7);
    background-blend-mode: darken;
}
#quote-par{
    width: 96rem;
    margin: auto;
}
#quote-par img{
    width: 8rem;
    border-radius: 50%;
    margin-top: 6rem;
    border: solid rgba(255,255,255,.3) 1rem;
}
#quote-par h2{
    margin: 0;
    font-size: 2.5rem;
    color: #fff;

}
#quote-par h4{
    margin: 0;
    font-size: 1.5rem;
    color: #b2b2b2;
    
}
#quote-par p{
    margin: 2rem;
    font-size: 1.5rem;
    color: #ffffff;
    
}