#ServiceOpt{
  height: 22rem;  
  width: 26rem;
box-shadow: rgba(100, 100, 111, 0.2) 0 0  0 1px;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .2s linear;
}
#ServiceOpt:hover{
  transform: translateY(-15px);

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#ServiceOpt svg{
    height: 2rem;
    padding: 1rem;
    background-color: orange;
    border-radius: 1rem;
    font-size: 2rem;

}